.container{
	width: 1170px;
	margin:  0 auto;
	background-color: #75816B;
	align-content: bottom;
	padding: 1px;
	border-radius: 25px;
}

.container2{
width: 1170px;
	margin:  0 auto;
	background-color: olive;
	align-content: bottom;
	padding: 1px;
}

.container-fluid {
	width:  100%;
}

.container-fluid2 {
	width:  100%;
	background-color: darkolivegreen;
}


.row {
	margin-bottom: 30px;
	background-color: pink;
}

.container-fluid .row {
	width: 1170px;
	margin: 0 auto;
	background-color: lightGreen;
}
