/* This is a style document for the Greenhouse website*/


h1 {
	color: #FAF3EB;
}

p {
	font-size: 1em;
}

* {
	font-family: 'Montserrat', sans-serif;
}

nav {
	colour: lightgreen;
}

h2{
	font-colour: #FAF3EB;
	font-weight: 500;
}

/* Code below sourced from w3schools.com*/
.header {
  padding: 20px;
  text-align: center;
  background: #1d301d;
  color: olive;
  font-size: 30px;

}

header {
	list-style: none;
	background-color: darkolivegreen;
	overflow: hidden;
}

header li a {
	float: left;
	colour: darkgreen;
	text-align: centre;
	padding: 14px 16px;
	text-transform: uppercase;
	font-size:  14px;
	font-weight:bold;
}
header li a:hover {
  background-color: #1d301d;
  color: darkgreen;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
}

.caption {
		font: Montserrat;
		font-weight: 400;
    display: block;
}

.footer {
	  padding: 20px;
  text-align: center;
  background: #1d301d;
  color: olive;
  font-size: 20px;
}